:root {
  --Dark-blue-100: #609ED4;
  --Dark-blue-300: #0A3871;

  --light-blue-200: #EFF1FA;
  --light-blue-300: #E9ECF8;

  --gray-100: #CED4DA;
  --gray-400: #495057;
  --gray-500: #343A40;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
  background: var(--light-blue-200);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  flex-wrap: wrap;
}

main {
  height: 100vh;
}

.logo {
  margin: 2rem;
}

textarea {
  background: inherit;
  border: none;
  font-size: 24px;
  color: var(--Dark-blue-300);
  margin-left: 6.25rem;
  width: 30rem;
  height: 17.51rem;
}

.box-input textarea::placeholder {
  color: var(--Dark-blue-300);
}

.buttons {
  margin-top: 6.3rem;
  margin-left: 6.25rem;
  padding: auto;
}

button {
  min-width: 16rem;
  padding: auto;
  height: 3.5rem;
  border-radius: 1.5rem;
}

.buttons p {
  margin-bottom: 0.938rem;
  color: var(--gray-400);
}

.encrypt {
  background: var(--Dark-blue-300);
  color: var(--gray-100);
  margin-right: 0.5rem;
  border: none;
}

.encrypt:hover {
  background: inherit;
  color: var(--Dark-blue-300);
  border: 1px solid var(--Dark-blue-300);
  cursor: pointer;
}

.decrypt {
  background: inherit;
  color: var(--Dark-blue-300);
  border: 1px solid var(--Dark-blue-300);
}

.decrypt:hover {
  background: var(--Dark-blue-300);
  color: var(--gray-100);
  cursor: pointer;
}

/* aside */

aside {
  background: var(--white);
  margin-top: 2rem;
  padding: 2.313rem;
  border-radius: 2rem;
  width: 23.75rem;
  height: 37.5rem;
}

aside h2 {
  text-align: center;
  padding: 1rem 0;
  font-size: 24px;
  color: var(--gray-500);
}

aside p {
  font-size: 16px;
  text-align: center;
  color: var(--gray-400);
}

.encrypted-text {
  font-size: 20px;
  text-align: justify;
  word-break: break-all;
}

.aside-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media(max-width: 1060px) {
  body {
    flex-direction: column;
  }

  texarea {
    width: auto;
  }

  aside {
    width: auto;
    height: auto;
    margin: 1rem;
  }

  aside img {
    display: none;
  }
}