:root {
  --Dark-blue-100: #609ED4;
  --Dark-blue-300: #0A3871;

  --light-blue-200: #EFF1FA;
  --light-blue-300: #E9ECF8;

  --gray-100: #CED4DA;
  --gray-400: #495057;
  --gray-500: #343A40;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
  background: var(--light-blue-200);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100vh;
  width: 60vw;
  padding: 32px;
}

.box-input {
  margin-top: 64px;
  margin-left: 100px;
}

.box-input input {
  background: inherit;
  border: none;
  padding: 24px;
  font-size: 24px;
  color: var(--Dark-blue-300);
}

.box-input input::placeholder {
  color: var(--Dark-blue-300);
}

.buttons {
  position: absolute;
  bottom: 70px;
  margin-left: 112px;
}

.buttons button {
  width: 300px;
  height: 60px;
  border-radius: 24px;
}

.buttons p {
  margin-bottom: 15px;
  color: var(--gray-400);
}

.encrypt {
  background: var(--Dark-blue-300);
  color: var(--gray-100);
  margin-right: 8px;
  border: none;
}

.decrypt {
  background: var(--gray-100);
  color: var(--Dark-blue-300);
  border: 1px solid var(--Dark-blue-300);
}

/* aside */

aside {
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 40px;
  border-radius: 32px;
  width: 380px;
  height: 600px;
}

aside h2 {
  text-align: center;
  padding: 1rem 0;
  font-size: 24px;
  color: var(--gray-500);
}

aside p {
  font-size: 16px;
  text-align: center;
  color: var(--gray-400);
}